
<div class="container">
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Price</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Test 1</th>
      <td>Desc dfgdfgs sdf sf af asdf</td>
      <td>Walls</td>
      <td>15</td>
      <td>Cup</td>
      <td><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button> / 
        <button type="button" class="btn btn-outline-secondary btn-sm">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">Test 2</th>
      <td>Desc dfgdfgs sdf sf af asdf</td>
      <td>Walls</td>
      <td>25</td>
      <td>Cone</td>
      <td><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button> / 
        <button type="button" class="btn btn-outline-secondary btn-sm">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>